<div fa-app style="position: fixed;left: 0; bottom: 0;width: 100%;height: 100%;" >
    <fa-header-footer-layout>

        <fa-modifier fa-size="[undefined, 50]"  id="sideBarMod" fa-align="left" ng-class="phone-frame">
            <fa-container-surface fa-z-index="99">
                <fa-surface>
                    <div style="background-color: black; width: 100%;height: 50px;z-index: 99;">
                        <div style="float: left;">11</div>
                        <div style="float: left;">11</div>
                        <div style="float: left;">11</div>
                    </div>
                </fa-surface>
            </fa-container-surface>
        </fa-modifier>
        <fa-modifier>
            <fa-scroll-view fa-pipe-from="eventHandler" >
                <fa-view ng-repeat="item in list">
                    <fa-modifier fa-size="[undefined, 100]"  id="sideBarMod" >
                        <fa-surface fa-pipe-to="eventHandler"
                                    fa-background-color="{{item.color}}"
                                    fa-size="[undefined, undefined]"
                                    fa-color="'white'"
                                    fa-click="itemClick(item.content)">
                            <div style="line-height: 100px;">{{item.content}}</div>
                        </fa-surface>
                    </fa-modifier>
                </fa-view>
            </fa-scroll-view>
        </fa-modifier>
        <fa-modifier fa-size="[undefined, 50]"  id="sideBarMod" >
            <fa-surface fa-pipe-to="eventHandler"
                        fa-background-color="'black'"
                        fa-size="[undefined, undefined]"
                        fa-color="'white'"
                        fa-click="itemClick(item.content)" style="text-align: center;line-height: 50px;">
                底部导航
            </fa-surface>
        </fa-modifier>
    </fa-header-footer-layout>
</div>